<div class="addBookFormContainer">
    <form class="addBookForm" action="submit" method="POST">
        <input type="text" name="bookTitle" placeholder="Book Title" required />
        <label for="starFieldset" class="formText">Book Rating: </label>
        <fieldset class="starRatingContainer" name="starRating" id="starFieldset" required>
            <input type="radio" name="starRating" id="1stStar" value="5" />
            <label for="1stStar" class="ratingStar">&#9733</label>
            <input type="radio" name="starRating" id="2ndStar" value="4" />
            <label for="2ndStar" class="ratingStar">&#9733</label>
            <input type="radio" name="starRating" id="3rdStar" value="3" />
            <label for="3rdStar" class="ratingStar">&#9733</label>
            <input type="radio" name="starRating" id="4thStar" value="2" />
            <label for="4thStar" class="ratingStar">&#9733</label>
            <input type="radio" name="starRating" id="5thStar" value="1" />
            <label for="5thStar" class="ratingStar">&#9733</label>
        </fieldset>
        <label for="dateRead" class="formText">Date Read: </label>
        <input type="date" name="date_read" id="dateRead" />
        <label for="notes" class="formText">Summary / Notes: </label>
        <textarea name="notes" rows="5"></textarea>
        <button type="submit">Submit</button>
    </form>
</div>