<div id="userLoginModal" class="modal">
    <div class="modal-content">
        <span class="loginClose">&times;</span>
        <div class="loginFormContainer">
            <form class="addBookForm" action="register" method="POST">
                <input placeholder="email address" />
                <input placeholder="password" />
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const loginModal = document.getElementById("userLoginModal");
        const loginBtn = document.getElementById("loginBtn");
        const loginSpan = document.getElementsByClassName("loginClose")[0];
        loginBtn.onclick = function() {
            loginModal.style.display = "block";
        }
        loginSpan.onclick = function() {
            loginModal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == addModal) {
                loginModal.style.display = "none";
            }
        }
    });
</script>