/* color profile: https://colorhunt.co/palette/faf7f0d8d2c2b174574a4947 */

html {
    background-color: #FAF7F0;
}

body {
    color: #4A4947;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex: 1;
}

h1 {
    font-size: 12vw;
    margin: 0;
    font-family: "libre baskerville", serif;
}

h2 {
    font-family: "Licorice", cursive;
    font-size: 6vw;
    margin: 0;
    color: #B17457;
}

header p {
    text-align: center;
    font-size: .75rem;
}

ul {
    background-color: #4A4947;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

li {
    list-style-type: none;
    display: inline;
}

a {
    color: #FAF7F0;
}

button {
    cursor: pointer;
}

.userBookshelfName {
    font-family: "Libre baskerville", serif;
    font-size: 1.25rem;
}

.bookListSection {
    padding-left: 5px;
    padding-right: 5px;
}

.noBooksMessage {
    font-family: "Licorice", cursive;
    font-size: 3rem;
    color: #D8D2C2;
    justify-self: center;
    text-align: center;
    transform: rotate(-15deg);
}

.bookCard {
    display: flex;
    gap: 5%;
    max-width: 700px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.bookInfoContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.bookCover {
    width: 30%;
}
.bookInfoContainer h3 {
    text-decoration: underline;
}
.bookNotes {
    font-family: "libre baskerville", serif;
    font-size: .90rem;
}
.dateAndRating {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.date {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: .9rem;
}
.rating {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: .9rem;
}
.dateAndRating h4 {
    margin: 0;
    padding: 0;
}
.dateAndRating p {
    margin: 0;
}

.deleteButton, .editButton {
    border: none;
    text-align: center;
    background-color: white;
    color: #4A4947;
    font-size: 1rem;
    margin-top: .5rem;
    margin-right: .5rem;
}
.deleteButton:hover, .editButton:hover {
    color: #4A4947AA;
}

footer {
    background-color: #4A4947;
    text-align: center;
    padding: .5rem
}
footer > p {
    color: #FAF7F0;
    margin: 0;
}

/*  modal / add book form  */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    max-width: 700px;
    background-color: white;
    margin: 15% auto;
    padding: 3rem 1.5rem;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
    position: relative;
}

.addBookForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.addBookForm div {
    display: flex;
    gap: 1rem;
    align-content: center;
}
.addBookForm button {
    width: 5rem;
    align-self: center;
}
.addBookForm textarea {
    flex-grow: 1;
    width: auto;
}

.addClose, .editClose,
.loginClose {
    color: #aaa;
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.addClose:hover, .addClose:focus,
.editClose:hover, .editClose:focus,
.loginClose:hover, .loginClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  /* star rating */
.starRatingContainer {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    
}
.starRatingContainer input {
    display: none;
    cursor: pointer;
}
.starRatingContainer label {
    color: #D8D2C2;
    cursor: pointer;
}
.starRatingContainer input:checked ~ label {
    cursor: pointer;
    color: #4A4947
}
  