/* color profile: https://colorhunt.co/palette/faf7f0d8d2c2b174574a4947 */

html {
    background-color: #FAF7F0;
}

* {
    color: #4A4947;
}

ul {
    background-color: #4A4947;
}

li {
    list-style-type: none;
    display: inline;
}

a {
    color: #FAF7F0;
}

footer {
    background-color: #4A4947;
}
footer > p {
    color: #FAF7F0;
}

